@media (max-width: 740px)
{
    #main #header
    {
        /* height: 46px; */
        overflow: hidden;
    }
    #header #nav #Home
    {
        display: inline-block;
    }
    #header #nav 
    {
        display: block;
    }
    #header li
    {
        display: block;
        background-color: black;
    }

    #header #nav #More .subnav
    {
        display: none;
        width: 100%;
        position: initial;
    }
    #header #nav #More:hover .subnav
    {
        display: block;
    }
    #header #nav #More .subnav li
    {
        background-color: white;
        padding:5px 0 5px 26px;
    }
    #header #nav #More .subnav li:hover 
    {
        background-color: #ccc;
    }
    .icon-search
    {
        display: none;
    }
    #icon-view-list
    {
        display: block;
        font-size: 15px;
        color: white;
        line-height: 46px;
        padding: 0 15px;
        position: fixed;
        top: 0;
        right: 0;
    }
    
    #icon-view-list:hover
    {
        background-color: #ccc;
        color: white;
    }
    .about-band .member-band .avata
    {
        height: 230px;
    }
    .space 
    {

        height: auto;
        display:block;
        justify-items: center;
    }
    .space .buy 
    {
        position: initial;
    }
    .space > div 
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }
    .box.col
    {
        display: block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .col2
    {
        width: 100%;
    }
    .col2.send-infor
    {
        margin-top: 16px;
        margin-bottom: 96px;
    }
}

